@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

// .modal-dialog {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-width: 80%;
// }

// .modal-content {
//   width: 100%;
//   max-width: none;
// }

// .modal-body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 2rem;
//   overflow: auto;
// }

#pdfViewer {
  display: block;
  max-width: 100%;
  height: auto;
}
